@charset "utf-8";

@import "~bulma/bulma";

$color-red: #db4747;
$color-white: #fff;
$color-black: #000;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: border-box;
}

html,
body {
  // height: 100vh;
  // width: 100vw;
}

section {
  background-color: #1c1a19;
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100%;
  padding-top: 150px !important;
}

.fa-snowflake {
  color: $color-red;
}

.logo2 {
  width: 84px;
  height: 84px;
  background: #db4747;
  mix-blend-mode: lighten;
  border-radius: 50%;
}

.navbar-name {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.section-name {
  font-family: "Playfair Display", serif;
}

.margin-left {
  margin: 6px;
}

.social-media {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media-title {
  color: #db4747;
}

.intro {
  font-family: "Poppins", sans-serif;
}

.skills {
  background: #212123;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.0525em;
  color: #fff;
  padding: 30px;
  background-clip: content-box;
}

.circle-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 38px;
  border: solid 1px;
}

.fa-envelope {
  color: #212123;
}

.fa-user {
  color: #212123;
}

.fa-cogs {
  color: rgb(78, 217, 236);
  padding-top: 10px;
  padding-left: 9px;
  background-color: rgba(55, 106, 237, 1);
  opacity: 0.5;
}

.fa-hashtag {
  color: #5bf116;
  padding-top: 10px;
  padding-left: 10px;
  background: #22b07d;
  opacity: 0.5;
}

.fa-lightbulb {
  color: yellow;
  padding-top: 10px;
  padding-left: 15px;
  background: #f19d2a;
  opacity: 0.5;
}

.fa-heart {
  color: red;
  padding-top: 10px;
  padding-left: 9px;
  background-color: #db4747;
  opacity: 0.5;
}

.btn-resume-div {
  padding-top: 100px;
}

.btn-resume {
  width: 126px;
  height: 40px;
  background-color: $color-red;
  border: none;
}

.btn-resume a {
  color: $color-white;
}

#info {
  padding: 20px;
}

// #project-img {
//   width: 40vw;
// }

.project-title {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.project-info {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .div-tools {
//   margin-top: 150px;
// }

.div-btn {
  padding: 10px;
}

.tools {
  width: 100px;
  height: 30px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: $color-white;
  background: rgba(0, 0, 0, 0.5);
}

.project-container {
  margin-top: 50px;
}

.next-btn {
  cursor: pointer;
}

.prev-btn {
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: $color-red;
}

.background-black {
  background-color: $color-black;
}

.red-color {
  color: $color-red;
}

.white-color {
  color: $color-white;
}

.red-color-background {
  background-color: $color-red;
}

.number3 {
  color: rgb(55, 56, 57);
}

footer {
  padding-top: 40px;
}

.container-icon-footer {
  width: 20vw;
}

button {
  opacity: 100% !important;
}

/* #########################################-----MEDIA QUERY----######################################### */

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (max-width: 767px) {
  .container-icon-footer {
    width: 40vw;
  }

  .btn-resume-div {
    padding-top: 50px;
  }

  #project-img {
    width: 100vw;
  }
}
