@charset "utf-8";

@import "~bulma/bulma";

// * {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
// }

html,
body {
  height: 100vh;
  width: 100vw;
}

section {
  background-color: #1c1a19;
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100%;
  padding-top: 150px !important;
}

.fa-snowflake {
  color: #db4747;
}

.logo2 {
  width: 84px;
  height: 84px;
  background: #db4747;
  mix-blend-mode: lighten;
  border-radius: 50%;
}

.navbar-name {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.section-name {
  font-family: "Playfair Display", serif;
}

.div-name {
  display: inline-flex;
  justify-content: space-between;
}

.margin-left {
  margin: 6px;
}

.social-media {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media-title {
  color: #db4747;
}

.intro {
  font-family: "Poppins", sans-serif;
}

.skills {
  background: #212123;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.0525em;
  color: #fff;
  padding: 30px;
  background-clip: content-box;
}

.fa-cogs {
  color: rgb(78, 217, 236);
  padding-top: 10px;
  padding-left: 9px;
}

.fa-hashtag {
  color: #5bf116;
  padding-top: 10px;
  padding-left: 10px;
}

.fa-lightbulb {
  color: yellow;
  padding-top: 10px;
  padding-left: 15px;
}

.fa-heart {
  color: red;
  padding-top: 10px;
  padding-left: 9px;
}

.btn-resume-div {
  padding-top: 100px;
}
